<a href="https://colab.research.google.com/github/l4riss2/Colab_stuff/blob/main/Metodosdeinterpolacao1303.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Concatenação

In [ ]:
nome="larissa"
idade = 15
concatenacao="Olá,meu nome é " + nome +" e tenho " + str(idade) + " anos."
print(concatenacao)

Metodos de Interpolação

In [ ]:
nome= "Larissa"
idade=15
frase="Olá, meu nome é {} e tenho {} anos.".format(nome,idade)
print(frase)

In [ ]:
frase="{1},{0},{2}".format("primeiro","segundo","terceiro")
print(frase)

In [ ]:
frase="Meu nome é {nome} e tenho {idade} anos.".format(nome="larissa",idade=15)
print(frase)

In [ ]:
numero_inteiro=42
numero_ponto_flutuante=5.1234

frase="Número inteiro:{:d}, Número de ponto flutuante {:.2f}".format(numero_inteiro,numero_ponto_flutuante)
print(frase)

In [ ]:
nome="Alice"
idade=30
frase="Nome:{:<10} | idade:{:>5}".format(nome,idade)
print(frase)

In [ ]:
nome="Luís"
idade = 30
frase=f"Olá, meu nome é {nome} e tenho {idade} anos."
print(frase)

In [ ]:
valor = 42
frase=f'O dobro de {valor} é {valor*2},e o triplo é {valor*3}.'
print(frase)

In [ ]:
nome = "Ana"
idade = 25
altura = 1.68

frase=f"Nome:{nome}, idade:{idade:d} e Altura:{altura:.2f} metros"
print(frase)